In [3]:
import numpy as np
import pandas as pd
import requests
import json

url = "https://data.covid19india.org/v4/min/timeseries.min.json"
JSONContent = requests.get(url).json()

In [4]:
states = []
dates = []
dic = {}

json = JSONContent

for state in json:
    states.append(state)
    x = json[state]
    for i in x['dates']:
        dates.append(i)
#print(dates)
#print(states)
for currdate in dates:
    dic[currdate] = {}
    
for currstate in  states:
    for currdate in dates:
        if currdate in json[currstate]['dates']:
            
            val = json[currstate]['dates'][currdate]
            if 'delta' in val:
                x = val['delta']
                if 'confirmed' in x:
                    dic[currdate][currstate]  = x['confirmed']
                    #print(x['confirmed'])
                else:
                    dic[currdate][currstate]  = 0
                    #print(0)
            else:
                dic[currdate][currstate]  = 0
                #print(0)
        else:
            dic[currdate][currstate]  = 0
             #print(0)
#print(dic)

In [5]:
nd = {}
f = 0
for state in states:
    nd[state] = []
    for currdate in dates:
        nd[state].append(dic[currdate][state])
        f+=1
#print(f)        
#print(nd['WB'])

In [6]:
import csv

In [7]:
ndframe = pd.DataFrame.from_dict(nd)
ndframe['date'] = dates

In [69]:
ndframe.head()

,AN,AP,AR,AS,BR,CH,CT,DL,DN,GA,...,SK,TG,TN,TR,TT,UN,UP,UT,WB,date
0,1,1,0,0,3,0,3,4,0,0,...,0,4,3,0,73,0,4,0,1,2020-03-26
1,5,2,0,0,2,1,0,1,0,0,...,0,14,9,0,153,0,7,0,5,2020-03-27
2,3,6,0,0,2,0,1,9,0,0,...,0,8,4,0,136,0,16,1,3,2020-03-28
3,0,2,0,0,4,0,0,23,0,2,...,0,3,8,0,120,0,7,1,3,2020-03-29
4,1,2,0,0,0,5,1,25,0,0,...,0,7,17,0,187,0,24,0,1,2020-03-30

In [63]:
ndframe.to_csv('finalcsv.csv')